<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <clear />
        <add name="defaultListener" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
             initializeData="FileLogWriter"
             Append="true"
             AutoFlush="true"
             BaseFileName="program"
             CustomLocation="Log"
             DiskSpaceExhaustedBehavior="DiscardMessages"
             Encoding="Unicode"
             IncludeHostName="false"
             LogFileCreationSchedule="Daily"
             location="Custom"
             MaxFileSize="1073741824" />
        <add name="programConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>